services:
  btc-electrum:
    build:
      context: ./docker/btc-electrum
      args:
        VERSION: "4.6.2"
        CHECKSUM_SHA512: "890c1fae4cd2da5f1fea3f07c1c6b537f9557177b86e23c40333ec83743ed46182ec74e43a27416a3eaa9704d87d0a1702d0a789b23467bcc68a17d638b43655"
    container_name: btc-electrum
    restart: unless-stopped
    volumes:
      - bitcoin-data:/home/electrum/.electrum
    environment:
      - TESTNET=${TESTNET}
      - ELECTRUM_RPC_USER=user
      - ELECTRUM_RPC_PASSWORD=${ELECTRUM_RPC_PASSWORD}
      - ELECTRUM_SERVER_ADDRESS=${BITCOIN_ELECTRUM_SERVER_ADDRESS}

  ltc-electrum:
    build:
      context: ./docker/ltc-electrum
      args:
        VERSION: "4.6.2-3"
        CHECKSUM_SHA512: "d271154250a47bab94cb17d2eb229b6483da1016970f7a74fcf0c713a7ad3dfafe53fa6429ce0d76964f71b52151b5da43ef0c38dc7577f53a47738859b693da"
    container_name: ltc-electrum
    restart: unless-stopped
    volumes:
      - litecoin-data:/home/electrum-ltc/.electrum
    environment:
      - TESTNET=${TESTNET}
      - ELECTRUM_RPC_USER=user
      - ELECTRUM_RPC_PASSWORD=${ELECTRUM_RPC_PASSWORD}
      - ELECTRUM_SERVER_ADDRESS=${LITECOIN_ELECTRUM_SERVER_ADDRESS}

  ltc-mweb-electrum:
    build:
      context: ./docker/ltc-electrum
      args:
        VERSION: "4.6.2-3"
        CHECKSUM_SHA512: "d271154250a47bab94cb17d2eb229b6483da1016970f7a74fcf0c713a7ad3dfafe53fa6429ce0d76964f71b52151b5da43ef0c38dc7577f53a47738859b693da"
    container_name: ltc-mweb-electrum
    restart: unless-stopped
    volumes:
      - litecoin-mweb-data:/home/electrum-ltc/.electrum
    environment:
      - TESTNET=${TESTNET}
      - ELECTRUM_RPC_USER=user
      - ELECTRUM_RPC_PASSWORD=${ELECTRUM_RPC_PASSWORD}
      - ELECTRUM_SERVER_ADDRESS=${LITECOIN_ELECTRUM_SERVER_ADDRESS}

  monero-wallet-rpc:
    build:
      context: ./docker/monero-wallet-rpc
    restart: unless-stopped
    container_name: monero-wallet-rpc
    volumes:
      - monero-wallet-rpc-data:/home/monero
    command:
      - --trusted-daemon
      - --rpc-bind-port=18082
      - --rpc-login=user:${MONERO_RPC_PASSWORD}
      - --daemon-address=${MONERO_DAEMON_ADDRESS}
      - --wallet-dir=/home/monero/wallet

  seed-importer:
    build:
      context: .
    container_name: seed-importer
    environment:
      - PYTHONUNBUFFERED=1
      - TESTNET=${TESTNET}
      - BITCOIN_ELECTRUM_RPC_URL=http://btc-electrum:7000
      - LITECOIN_ELECTRUM_RPC_URL=http://ltc-electrum:7000
      - LITECOIN_MWEB_ELECTRUM_RPC_URL=http://ltc-mweb-electrum:7000
      - ELECTRUM_RPC_USERNAME=user
      - ELECTRUM_RPC_PASSWORD=${ELECTRUM_RPC_PASSWORD}
      - BITCOIN_WALLET_SEED=${BITCOIN_WALLET_SEED}
      - LITECOIN_WALLET_SEED=${LITECOIN_WALLET_SEED}
      - LITECOIN_MWEB_WALLET_SEED=${LITECOIN_MWEB_WALLET_SEED}
      - MONERO_RPC_URL=http://monero-wallet-rpc:18082/json_rpc
      - MONERO_RPC_USERNAME=user
      - MONERO_RPC_PASSWORD=${MONERO_RPC_PASSWORD}
      - MONERO_WALLET_SEED=${MONERO_WALLET_SEED}
      - MONERO_WALLET_PASSWORD=${MONERO_WALLET_PASSWORD}
      - MONERO_WALLET_HEIGHT=${MONERO_WALLET_HEIGHT}
    command: python ./src/seed-importer.py
    depends_on:
      - btc-electrum
      - ltc-electrum
      - monero-wallet-rpc

  autoforward:
    build:
      context: .
    container_name: autoforward
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - TESTNET=${TESTNET}
      - BITCOIN_ELECTRUM_RPC_URL=http://btc-electrum:7000
      - LITECOIN_ELECTRUM_RPC_URL=http://ltc-electrum:7000
      - LITECOIN_MWEB_ELECTRUM_RPC_URL=http://ltc-mweb-electrum:7000
      - ELECTRUM_RPC_USERNAME=user
      - ELECTRUM_RPC_PASSWORD=${ELECTRUM_RPC_PASSWORD}
      - MONERO_RPC_URL=http://monero-wallet-rpc:18082/json_rpc
      - MONERO_RPC_USERNAME=user
      - MONERO_RPC_PASSWORD=${MONERO_RPC_PASSWORD}
      - MONERO_WALLET_PASSWORD=${MONERO_WALLET_PASSWORD}
      - KRAKEN_API_KEY=${KRAKEN_API_KEY}
      - KRAKEN_API_SECRET=${KRAKEN_API_SECRET}
    command: python ./src/autoforward.py
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - seed-importer

  autoconvert:
    build:
      context: .
    container_name: autoconvert
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - TESTNET=${TESTNET}
      - KRAKEN_API_KEY=${KRAKEN_API_KEY}
      - KRAKEN_API_SECRET=${KRAKEN_API_SECRET}
      - SETTLEMENT_CURRENCY=${SETTLEMENT_CURRENCY}
    command: python ./src/autoconvert.py
    depends_on:
      - seed-importer

volumes:
  bitcoin-data:
  litecoin-data:
  litecoin-mweb-data:
  monero-wallet-rpc-data:
