name: Deploy autoforward and autoconvert programs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_IP }} << 'EOF'
            export HISTFILE=/dev/null
            cd autoforward-autoconvert
            git checkout main
            echo "Pulling changes..."
            git pull
            echo "Starting..."

            ELECTRUM_RPC_PASSWORD="${{ secrets.ELECTRUM_RPC_PASSWORD }}" \
            BITCOIN_ELECTRUM_SERVER_ADDRESS="${{ secrets.BITCOIN_ELECTRUM_SERVER_ADDRESS }}" \
            LITECOIN_ELECTRUM_SERVER_ADDRESS="${{ secrets.LITECOIN_ELECTRUM_SERVER_ADDRESS }}" \
            BITCOIN_WALLET_SEED="${{ secrets.BITCOIN_WALLET_SEED }}" \
            LITECOIN_WALLET_SEED="${{ secrets.LITECOIN_WALLET_SEED }}" \
            LITECOIN_MWEB_WALLET_SEED="${{ secrets.LITECOIN_MWEB_WALLET_SEED }}" \
            MONERO_DAEMON_ADDRESS="${{ secrets.MONERO_DAEMON_ADDRESS }}" \
            MONERO_RPC_URL="${{ secrets.MONERO_RPC_URL }}" \
            MONERO_RPC_PASSWORD="${{ secrets.MONERO_RPC_PASSWORD }}" \
            MONERO_WALLET_SEED="${{ secrets.MONERO_WALLET_SEED }}" \
            MONERO_WALLET_PASSWORD="${{ secrets.MONERO_WALLET_PASSWORD }}" \
            MONERO_WALLET_HEIGHT="${{ secrets.MONERO_WALLET_HEIGHT }}" \
            KRAKEN_API_KEY="${{ secrets.KRAKEN_API_KEY }}" \
            KRAKEN_API_SECRET="${{ secrets.KRAKEN_API_SECRET }}" \
            MAX_NETWORK_FEE_PERCENT="${{ secrets.MAX_NETWORK_FEE_PERCENT }}" \
            MAX_SLIPPAGE_PERCENT="${{ secrets.MAX_SLIPPAGE_PERCENT }}" \
            BITCOIN_FEE_SOURCE="${{ secrets.BITCOIN_FEE_SOURCE }}" \
            BITCOIN_FEE_RATE="${{ secrets.BITCOIN_FEE_RATE }}" \
            LITECOIN_FEE_SOURCE="${{ secrets.LITECOIN_FEE_SOURCE }}" \
            LITECOIN_FEE_RATE="${{ secrets.LITECOIN_FEE_RATE }}" \
            SETTLEMENT_CURRENCY="${{ secrets.SETTLEMENT_CURRENCY }}" \
            docker compose up -d --build
          EOF
